<header>
    <h1>Ads - Login</h1>
</header>
<div id="wrapper">
    <div class="row">
        <div class="col-md-3">
            <sidebar-guest></sidebar-guest>
        </div>
        <div class="col-md-9">
            <form>
                <h2>Login</h2>
                <label for="username">Username:</label><br/>
                <input type="text" id="username"/><br/>
                <label for="password">Password:</label><br/>
                <input type="password" id="password"/><br/>
                <a href="#">Login</a>
                <a href="#/register">Register here</a>
            </form>
        </div>
    </div>
</div>